@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "manrope";
  src: url("../public/fonts/Manrope[wght].woff2");
}

@font-face {
  font-family: "varela";
  src: url("../public/fonts/VarelaRound-Regular.ttf");
}